@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,200;1,400;1,500&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
    cursor: pointer;
}

#wrapper {
    /* Kích thước màn hình là 1280 x 720 */
    width: 100%;
    height: 100vh;
}
#header{
    display: flex;
    justify-content: space-between;
    align-items: center;    
    background-color:#faebd7;
    border-radius: 10px;
}
.logo img{
    width: 100px;
    height: 100px;
    border-radius: 30px;
}

#menu {
    list-style:none;
    display: flex;
}

#menu .item {
    margin:0px 25px;
}

#menu .item a {
    color:#626A67;
    text-decoration: none;
}


#actions {
    display: flex;
}

#actions .item {
    margin-left:22px;
}

#banner {
    border-radius: 10px;
    background-color: #f5ede2;
    background-image :url("/web/assets/banner.png");
    height: 463px;
    margin-top:40px;
    display: flex;
    padding:0px 133px;
    position:relative;
    width: 100%
}
/* #banner .content {
    background-image: url(./assets/banner.png);
    background-size: cover;
    opacity: 0.5;
} */

#banner .box-left ,#banner .box-right {
    width: 50%;
    background-image :url("/web/assets/banner.png");
}



#banner  .box-left h2 {
    font-size:48px;
    margin-top:75px;
    color:#fff;
}

#banner .box-left p {
    color:#D0D0D0;
}

#banner .box-left button {
    width: 191px;
    height: 40px;
    margin-top:41px;
    background:#1d1a1a;
    border:none;
    outline:none;
    color:#fff;
    font-weight: bold;
    border-radius: 20px;
    transition:0.4s;
}

#banner .box-left button:hover {
    background:orange;
}

#banner .box-right {
    padding-left:200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#banner .box-right img {
    margin:0px 10px;
    animation :animation 3s infinite linear; 
}


#banner .box-right img:nth-child(1)
{
    animation-delay: 0.5s;
}
#banner .box-right img:nth-child(2)
{
    
    animation-delay: 1s;
}

@keyframes animation {
    0%{
        transform:translateY(0px);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0px);
    }
    
}

.to-bottom {
    position:absolute;
    bottom:-40px;
    left:50%;
    transform:translateX(-50%);
}



#wp-products {
    padding-top:116px;
    padding-bottom: 78px;
    padding-left:134px;
    padding-right:134px;
}

#wp-products h2 {
    text-align: center;
    margin-bottom: 76px;
    font-size:32px;
    color:#626a67;
}


#list-products {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

#list-products .item {
    width: 290px;
    height: 374px;
    background:#c6c249ad;
    border-radius: 10px;
    margin-bottom: 50px;
}

#list-products .item img {
    display: block;
    margin:0px auto;
    margin-top:17px;
    
}

#list-products .item .stars {

    display: flex;
    margin:0px auto;
    width: 50%;
}

#list-products .item .name {
    text-align: center;
    color:#fff;
    font-weight: bold;
    margin-top:21px;
}

#list-products .item .desc {
    text-align: center;
    color:#626a67;
}

#list-products .item .price {
    text-align: center;
    color:#f42424;
    font-weight: bold;
    margin-top:20px;
}


.list-page {
    width: 50%;
    margin:0px auto;
}

.list-page {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.list-page .item {
    margin:0px 15px;
    width: 37px;
    height: 37px;
    background:#362f2f;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.list-page .item a {
    color:#fff;
    text-decoration: none;
}


#saleoff {
    width: 100%;
    display: flex;
    height: 322px;
}
#saleoff .box-left ,#saleoff .box-right {
    width: 50%;
}
#saleoff .box-left {
    background:#3e413e;
    text-align: center;
    min-height: 322px;
}

#saleoff .box-left h1 {
    padding-top:38px;
}
#saleoff .box-left span:nth-child(1)
{
    color:#fff;
    font-size:50px;
}

#saleoff .box-left span:nth-child(2)
{
    color:orange;
    font-size:128px;
}

#saleoff .box-right {
    background-image:url("/web/assets/off.jpg");
}


#comment {
    width: 1012px;
    height: 478px;
    margin:0px auto;
    margin-top:184px;
    margin-bottom: 50px;
}

#comment h2 {
    text-align: center;
    margin-bottom: 50px;
    font-size:32px;
    color:#626a67;
}


#comment-body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 400px;
    list-style: none;
    overflow: hidden;
}

#list-comment {
    width: 100%;
    height: 100%;
    list-style: none;
    transition:0.5s;
}

#list-comment .item {
    width: 100%;
    height: 100%;
    background:#362f2f;
    border-radius: 20px;
    padding-top:50px;
}

#list-comment .item .avatar {
    text-align: center;
    margin-top:13px;
}

#list-comment .item .stars {
    display: flex;
    margin:0px auto;
    width: 50%;
    margin-top:32px;
    justify-content: center;
    align-items: center;
}

#list-comment .item .name {
    text-align: center;
    font-weight: bold;
    color:#fff;
}

#list-comment .item .text {
    padding:20px 50px;
    color:#fff;
   
}

#footer {
    width: 100%;
    background:rgb(0,0,0,0.79);
    height: 322px;
    margin-top:338px;
    padding:0px 63px;
    padding-top:57px;
    display: flex;
    justify-content: space-around;
}

#footer .box {
    width: 250px;
    color:#fff;
}

#footer .box .quick-menu {
    margin-top:40px;

}


#footer .box .quick-menu .item{
    margin-bottom:12px;

}
#footer .box .quick-menu ,.item a{
    color:#fff;
    text-decoration: none;
}



#footer .box form input {
    width: 294px;
    height: 42px;
    background:transparent;
    padding-left:20px;
    color:#fff;
    margin-top:30px;
}

#footer .box form button {
    background:#444141;
    box-shadow: 2px 3px 2px rgb(40, 39, 39);
    width: 163px;
    height: 38px;
    margin-top:29px;
    color:#fff;
}
/*Gio hang*/
.cart{
   width: 100%;
   background-color: ivory;
}
.cart_header{
    border: 20px 5px;
}
.cart_item{
    color:gray;
    font-size: 1rem;
    font-weight: 300;
}

.cart-list-name img{
    width: 80px;
}
.cart-list-soluong{
    font-size: 0.8rem;
    font-weight: 300;
    color:darkgray
}
.cart-list-price{
    font-weight: 350;
}

.buttons_added {
    opacity:1;
    display:-ms-inline-flexbox;
    white-space:nowrap;
       
}
.is-form {
    overflow:hidden;
    position:relative;
    background-color:#f9f9f9;
    height:1.8rem;
    width:1.8rem;
    padding:0;
    text-shadow:1px 1px 1px #fff;
    border:1px solid #ddd;
}
.is-form:focus,
.input-text:focus {
    outline:none;
}
.is-form.minus {
    border-radius:4px 0 0 4px;
}
.is-form.plus {
    border-radius:0 4px 4px 0;
}
.input-qty {
    background-color:#fff;
    height:1.8rem;
    width: 1.8rem;
    text-align:center;
    font-size:1rem;
    display:inline-block;
    vertical-align:top;
    margin:0;
    border:1px solid #ddd;
    padding:1;
}
.input-qty::-webkit-outer-spin-button,.input-qty::-webkit-inner-spin-button {
    -webkit-appearance:none;
    margin:0;
}
.tua{
   width: 100%;
}
.diachi{
    width: 100%;
}
body {
    font-family: Arial;
    font-size: 17px;
    padding: 8px;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    margin: 0 -16px;
  }
  
  .col-25 {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
  }
  
  .col-50 {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
  }
  
  .col-75 {
    -ms-flex: 75%; /* IE10 */
    flex: 75%;
  }
  
  .col-25,
  .col-50,
  .col-75 {
    padding: 0 16px;
  }
  
  .container {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
  }
  
  input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  label {
    margin-bottom: 10px;
    display: block;
  }
  
  .icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
  }
  
  .btn {
    background-color: #04AA6D;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
  }
  
  .btn:hover {
    background-color: #45a049;
  }
  
  a {
    color: #2196F3;
  }
  
  hr {
    border: 1px solid lightgrey;
  }
  
  span.price {
    float: right;
    color: grey;
  }
  .product{
      display: flex;
      width: 100%;
      margin: 60px 20px;  
      background-color: #f4f3f3;
  }
  .product_item{
      width: 50%;
      margin-right: 20px;
  }
  .item{
      list-style: none;
      margin: 20px 20px;
      
  }
  .item h1{
      font-size: 2.2rem;
      font-weight: 400;
      color:#362f2f;
  }
  .item p{
      font-size: 1rem;
      font-weight: 300;
      color: #ccc;
  }
  .item_gia{
      margin: 20px 20px 20% 20px;
      color:tomato;
      font-size: 4rem;
      background-color: rgb(249, 246, 246);
      width: 100%;
      margin-left: 0;
      border-radius: 5px;
  }   
.item_btn{
    margin: 20px 20px 0 0; 
    width: 100%;
    margin-left: 28%;
}
.buy{
    background-color: tomato;
    color: white;
    font-size: 1.2rem;
    border: 1px solid #626a67;
    border-radius: 2px;
}
.add{
    background-color: snow;
    font-size: 1.2rem;
    border: 1px solid #626a67;
    border-radius: 2px;
}
.tieude{
    font-weight: 300;
    color: darkgrey;
}
/*admin*/
.admin{
    width: 100%;
    height: 100%;
    display: flex;
}
.noidung{
    height: 100%;
    width: 20%;
    margin-top: 40px;
    margin-left: 20px;
    border-radius: 5px;
    background-color:snow;
}
.noidung p{
    color: #ccc;
    padding-left: 25%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.noidung_item{
    width: 80%;
    color: #626a67;
    margin-left: 25px;
    border: 1px solid #ccc;
    background-color: #d1dede;
}
/*QLSP*/
#QLSP{
    width: 80%;
    display: block;
}
.QL_btn{
    width: 100px;
    margin:20px 10px;
    background-color:#d1dede ;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #626a67;
}
.QL_header{
    color:rgb(125, 122, 122);
    font-weight: 300;
}
#themsp{
    width: 70%;
    border: 1px solid #eaf2ef;
    display: block;
}
#QLKH{
    width: 80%;
    display: block;
}
#QLDH{
    width: 80%;
    display: block;
}
.hero__categories__all {
    background: #faebd7;
    position: relative;
    padding: 10px 25px 10px 40px;
    cursor: pointer;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.hero__categories {
    margin-bottom: 30px;
}
.hero__categories ul {
    border: 1px solid #ebebeb;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 12px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
ul, ol {
    padding: 0;
    margin: 0;
}
.hero__categories ul li {
    list-style: none;

}
li {
    display: list-item;
    text-align: -webkit-match-parent;
    height: 80px;
}
.shoping__cart__table {
    margin-bottom: 30px;
}
.shoping-cart {
    padding-top: 80px;
    padding-bottom: 80px;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.shoping__cart__table {
    overflow-y: auto;
}
.shoping__cart__table {
    margin-bottom: 30px;
}
table {
    border-collapse: collapse;
}
thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
th {
    text-align: inherit;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
h5 {
    font-size: 18px;
}
.shoping__cart__table table tbody tr td.shoping__cart__price {
    font-size: 18px;
    color: #1c1c1c;
    font-weight: 700;
    width: 200px;
}
.shoping__cart__table table tbody tr td.shoping__cart__quantity {
    width: 225px;
}
.shoping__cart__table table tbody tr td.shoping__cart__total {
    font-size: 18px;
    color: #1c1c1c;
    font-weight: 700;
    width: 110px;
}
.shoping__cart__table table tbody tr td.shoping__cart__item__close {
    text-align: right;
}
.shoping__cart__table table tbody tr td {
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #ebebeb;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.row {
    
    
    display: flex;
 
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.shoping__cart__table table {
    width: 100%;
    text-align: center;
}
.shoping__cart__table table tbody tr td.shoping__cart__item {
    width: 530px;
    text-align: left;
}
.shoping__cart__table table thead th.shoping__product {
    text-align: left;
}
.primary-btn.cart-btn {
    color: #6f6f6f;
    padding: 14px 30px 12px;
    background: #f5f5f5;
}
.primary-btn {
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}
.shoping__checkout {
    background: #f5f5f5;
    padding: 30px;
    padding-top: 20px;
    margin-top: 50px;
    width: 80%;
  
}
.shoping__checkout ul li {
    font-size: 16px;
    color: #1c1c1c;
    font-weight: 700;
    list-style: none;
    overflow: hidden;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 13px;
    margin-bottom: 18px;
}
.shoping__checkout ul li span {
    font-size: 18px;
    color: #dd2222;
    float: right;
}
.shoping__checkout .primary-btn {
    display: block;
    text-align: center;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.shoping__checkout ul {
    margin-bottom: 28px;
}
.shoping__checkout .primary-btn {
    display: block;
    text-align: center;
    background: #2d7c9b;
}
#thanhtoan{
    margin-right: 200px;
    margin-left: 200px;
}